/build/
/coverage/
/example/
/examples/
/test/
/vendor/Release/
/vendor/*.vcxproj
/vendor/*.filters
/vendor/*.sln
/vendor/*.exe
/vendor/*.ppk

/generate/output

/binding.gyp
.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

*.vcxproj
*.filters
*.sln
*.log
*.md

.DS_STORE
.idea
